/* Change shadow colors and Foundry general font color!! */
.app {
  box-shadow: 0 0 20px #7e4444; /* Change the color code here for a nice shadow color! */
  color: #dfdfdf; /* Text color for window titles and menu all across Foundry */
}

/* Character and Item Name Titles Text style! */
.sandbox.sheet .charname input {
    color: #191813;
    font-family: "Signika", sans-serif;
    font-size: 30px;
    font-style: normal;
}

/* custom styles */
body.system-gods-system img#logo {
  content: url("/systems/gods-system/assets/images/ui/logo_gods_foundry.webp");
  height:auto;
}

.sheet .window-content {
  background: url(/systems/gods-system/assets/images/ui/box_background.webp) repeat;
}

/* Customize the chat roll area! */
#chat-form textarea {
  background: url(/systems/gods-system/assets/images/ui/box_background.webp) repeat; 
  /*font-family: monospace; 
  font-size: 14px; 
  color: black; */
}

/* Customize the chat history area! */
#chat-log .message {
  background: url(/systems/gods-system/assets/images/ui/box_background.webp) repeat; 
  /*color: #191813; */
}

