<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-4col">
        {{#each system.attributes as |attribute att|}}
        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">{{ localize attribute.label }}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attributes.{{att}}.value" value="{{attribute.value}}" data-dtype="Number"/>
          </div>
        </div> 
        {{/each}}

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Statistiques</a>
    <a class="item" data-tab="description">Background</a>
    <a class="item" data-tab="items">Matos</a>
    <a class="item" data-tab="spells">Totem</a>
    <a class="item" data-tab="effects">Santé</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <h3>Caractéristiques</h3>
      <section class="grid grid-4col">
        {{#each config.abilityCategories as |abilityCategory ackey|}}
          <div>
            <h4>{{ localize abilityCategory.label }}</h4>
            {{#each @root.system.abilities as |ability key|}}
              {{#ife ability.category ackey }}
                <div class="ability flexcol flex-group-center items-center">
                  <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
                  <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                </div>
              {{/ife}}
            {{/each}}
          </div>
        {{/each}}
      </section>
      <h3>Compétences</h3>
          <div class="grid grid-cols-3">
          {{#each config.skillCategories as |skillCategory sckey|}}
              <div class="col">
                <h4>{{ localize skillCategory.label }}</h4>
              {{#each @root.system.skills as |skill skey|}}
              
              {{#ife skill.category sckey }}                       
                <div class="ability flexrow flex-group-center">
                  <label style="flex:80%;" for="system.skills.{{skey}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@skills.{{skey}}.mod" data-label="{{skill.label}}">{{ localize skill.label}}</label>
                  <input type="text" name="system.skills.{{skey}}.value" value="{{skill.value}}" data-dtype="Number"/>
                </div>
                {{/ife}}
              {{/each}}
              </div>
          {{/each}}
        </div>
          
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/totem/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/totem/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/totem/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

