<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <div class="form">
    <aside>
      <img class="logo" src="systems/gods-system/assets/images/ui/logo_gods_fiche.webp" height="94" width="230" alt="logo GODS" />
      <div class="sidebar" data-group="dashboard" data-tab="sidebar">
          <!--ID -->
          {{> "systems/gods-system/templates/actor/parts/actor-id.hbs"}}
      </div>
  </aside>
  <main>
    <!-- HEADER -->
    {{> "systems/gods-system/templates/actor/parts/character-header.hbs"}}

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation sheet-tabs tabs flex-group-end" data-group="primary">
        <a class="item" data-tab="character" title="{{localize "GODS.tab_character_label"}}">
            <i class="fas fa-address-card"></i>
        </a>

        <a class="item" data-tab="instincts" title="{{localize "GODS.tab_instincts_label"}}">
            <i class="fas fa-star"></i>
        </a>

        <a class="item" data-tab="gods" title="{{localize "GODS.tab_gods_label"}}">
            <i class="fas fa-wand-magic-sparkles"></i>
        </a>

        <a class="item" data-tab="equipment" title="{{localize "GODS.tab_equipment_label"}}">
            <i class="fas fa-hammer"></i>
        </a>

        <a class="item" data-tab="stories" title="{{localize "GODS.tab_stories_label"}}">
            <i class="fas fa-hand-paper"></i>
        </a>

        <a class="item" data-tab="combat" title="{{localize "GODS.tab_combat_label"}}">
            <i class="fas fa-medal"></i>
        </a>

        <a class="manage-tabs" data-action="manage-tabs" title="{{localize "GODS.tab_options"}}">
            <i class="fas fa-fw fa-ellipsis-v"></i>
        </a>
    </nav>

    <!-- BODY -->
    <section class="sheet-body">
        <section class="sheet-content">
          <div class="tab character character-pane active" data-group="primary" data-tab="character">
              <!-- Character -->
            {{> "systems/gods-system/templates/actor/parts/character-features.hbs"}}
          </div>
          <div class="tab instincts" data-group="primary" data-tab="instincts">
            <h3>Instincts</h3>
            <!-- Rituals -->
            {{> "systems/gods-system/templates/actor/parts/actor-instincts.hbs"}}
          </div>
          <div class="tab gods" data-group="primary" data-tab="gods">            
            <h3>Dieux</h3>
            <!-- Rituals -->
            {{> "systems/gods-system/templates/actor/parts/actor-spells.html"}}

          </div>
          <div class="tab equipment" data-group="primary" data-tab="equipment">
            <h3>Equipement</h3>
            <!-- Rituals -->
            {{> "systems/gods-system/templates/actor/parts/actor-items.html"}}
          </div>
          <div class="tab combat" data-group="primary" data-tab="combat">
            <h3>Combat</h3>
            <!-- effects -->
            {{> "systems/gods-system/templates/actor/parts/actor-effects.html"}}
          </div>
        
          <div class="tab stories" data-group="primary" data-tab="stories">
            <h3>Histoire</h3>
            <section class="biography-details">
              <label class="details-label">Bio</label>
              {{editor system.stories.biography target="system.stories.biography" button=true owner=owner editable=editable}}
            </section>
        </div>
        
        </section>
    </section>
  </main>
  </div>
</form>

